.App {
  text-align: center;
}

.App-logo {
  width: 14rem;
  pointer-events: none;
}

.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: top;
  justify-content: top;
  font-size: calc(10px + 2vmin);
  color: white;
}

p {
  font-size: 1rem;
}

/* override styles when printing */
@media print {
  .no-print {
    display: none !important;
  }
}
